@import "tailwindcss";


:root {
  --itu-blue: #0077b6;
  --itu-blue-dark: #005f8a;
  --itu-green: #7bbf3f;
  --itu-green-dark: #5fa62f;

  --bg-page: #f4f6f8;
  --bg-card: #ffffff;
  --text-main: #1f2937;
  --text-muted: #6b7280;
}

/* Reset + base */
html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-page);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* Forzar modo claro */
* {
  color-scheme: light;
}
